# Code snippets and examples from Chapter 2

## 2.2 Example program: Temperature converter

In [1]:
# A program to convet Celsius temps to Fahrenheit
def convert():
    celsius = eval(input("What is the Celsius temperature? "))
    fahrenheit = 9/5 * celsius + 32
    print("The temperature is", fahrenheit, "degrees Fahrenheit.")

In [2]:
convert()

What is the Celsius temperature? 0
The temperature is 32.0 degrees Fahrenheit.

### 2.3.1 Names

In [3]:
x = 1
celsius = 1
spam = 1
spam2 = 1
SpamAndEggs = 1
Spam_and_Eggs = 1

### 2.3.2 Expressions

In [4]:
32

32

In [5]:
"Hello"

'Hello'

In [6]:
"32"

'32'

In [7]:
x = 5
x

5

In [8]:
print(x)

5

In [9]:
print(spam3)

NameError: name 'spam3' is not defined

In [10]:
"Bat" + "man"

'Batman'

## 2.4 Output statements

In [11]:
print(3+4)
print(3, 4, 3+4)
print()
print("The answer is", 3+4)

7
3 4 7

The answer is 7

In [12]:
print("The answer is", end=" ")
print(3+4)

The answer is 7

## 2.5 Assignment statements

In [13]:
myVar = 0
myVar

0

In [14]:
myVar = 7
myVar

7

In [15]:
myVar = myVar + 1
myVar

8

In [16]:
name = input("Enter your name: ")

Enter your name: John Yaya

In [17]:
name

'John Yaya'

In [18]:
ans = eval(input("Enter an expression: "))

Enter an expression: 3+4*5

In [19]:
print(ans)

23

### 2.5.3 Simultaneous assignment

In [20]:
x = 2
y = 4
print(x,y)

2 4

In [21]:
# The wrong way to swap x and y
x = y
y = x
print(x,y)

4 4

In [22]:
# The long way to swap x and y
x = 2
y = 4
print(x,y)

temp = x
x = y
y = temp
print(x, y)

2 4
4 2

In [23]:
# The fast way to swap x and y
x = 2
y = 4
print(x, y)

x, y = y, x
print(x, y)

2 4
4 2

In [24]:
# A simple program to avefage two exam scores
# Illustrates the use of multiple input
def avg2():
    print("This program computes the average of two exam scores.")
    
    score1, score2 = eval(input("Enter two scores separated by a comma: "))
    average = (score1 + score2) / 2
    
    print("The average of the scores is:", average)
avg2()

This program computes the average of two exam scores.
Enter two scores separated by a comma: 86,92
The average of the scores is: 89.0

## 2.6 Definite loops

In [25]:
for i in [0, 1, 2, 3]:
    print(i)

0
1
2
3

In [26]:
for odd in [1, 3, 5, 7, 9]:
    print(odd * odd)

1
9
25
49
81

In [27]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 2.7 Example program: future value

In [28]:
#    A program to compute the value of an investment
#    carried 10 years into the future

def futval():
    print("This program calculates the future value")
    print("of a 10-year investment.")

    principal = eval(input("Enter the initial principal: "))
    apr = eval(input("Enter the annual interest rate: "))

    for i in range(10):
        principal = principal * (1 + apr)

    print("The value in 10 years is:", principal)

futval()

This program calculates the future value
of a 10-year investment.
Enter the initial principal: 1000
Enter the annual interest rate: 0.03
The value in 10 years is: 1343.916379344122