# Chapter 5: Sequences: Strings, Lists, and Files

## 5.1: The String data type

In [3]:
str1 = "Hello"
str2 = 'spam'
print(str1, str2)

Hello spam

In [4]:
type(str1)

str

In [5]:
type(str2)

str

In [6]:
firstName = input("Please enter your name: ")
print("Hello", firstName)

Please enter your name: Michael
Hello Michael

### Indexing

In [7]:
greet = "Hello Bob"
greet[0]

'H'

In [9]:
print(greet[0], greet[2], greet[4])

H l o

In [10]:
x = 8
print(greet[x-2])

B

In [11]:
greet[-2]

'o'

In [12]:
greet[-3]

'B'

### Slicing

In [13]:
greet[0:3]

'Hel'

In [14]:
greet[5:9]

' Bob'

In [15]:
greet[:5]

'Hello'

In [16]:
greet[5:]

' Bob'

In [17]:
greet[:]

'Hello Bob'

### String operations

In [18]:
"spam" + "eggs"

'spameggs'

In [19]:
"Spam" + "And" + "Eggs"

'SpamAndEggs'

In [20]:
3 * "spam"

'spamspamspam'

In [21]:
"spam" * 5

'spamspamspamspamspam'

In [22]:
(3 * "spam") + ("eggs" * 5)

'spamspamspameggseggseggseggseggs'

In [23]:
len("spam")

4

In [24]:
len("SpamAndEggs")

11

In [25]:
for ch in "Spam!":
    print(ch, end=" ")

S p a m !

## 5.2: Simple string processing

In [26]:
# Simple string processing program to generate usernames.
def username():
    print("This program generates computer usernames.\n")
    
    # get user's first and last names
    first = input("Please enter your first name (all lowercase): ")
    last = input("Please enter your last name (all lowercase): ")
    
    # concatenate first initial with 7 chars of the last name.
    uname = first[0] + last[:7]
    
    # output the username
    print("Your username is:", uname)

In [28]:
username()

This program generates computer usernames.

Please enter your first name (all lowercase): zaphod
Please enter your last name (all lowercase): beeblebrox
Your username is: zbeebleb

In [29]:
username()

This program generates computer usernames.

Please enter your first name (all lowercase): john
Please enter your last name (all lowercase): smith
Your username is: jsmith

In [30]:
# A program to print the abbreviation of a month, given its number
def month():
    # months used as a lookup table
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"
    
    n = int(input("Enter a month number (1-12): "))
    
    # compute starting position of month n in months
    pos = (n-1) * 3
    
    # Grab the appropriate clise from months
    monthAbbrev = months[pos:pos+3]
    
    # print the result
    print("The month abbreviation is", monthAbbrev + ".")

In [31]:
month()

Enter a month number (1-12): 1
The month abbreviation is Jan.

In [32]:
month()

Enter a month number (1-12): 12
The month abbreviation is Dec.

In [33]:
month()

Enter a month number (1-12): 8
The month abbreviation is Aug.

## Lists as sequences

In [34]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [35]:
[1,2] * 3

[1, 2, 1, 2, 1, 2]

In [37]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[0]

'A'

In [38]:
grades[2:4]

['C', 'D']

In [39]:
len(grades)

5

In [40]:
muList = [1, "Spam", 4, "U"]

In [41]:
# A program to print the month abbreviation, given its number.
def month2():
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", 
              "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    
    n = int(input("Enter a month number (1-12): "))
    
    print("The month abbreviation is", months[n-1] + ".")

In [42]:
month2()

Enter a month number (1-12): 1
The month abbreviation is Jan.

In [43]:
month2()

Enter a month number (1-12): 12
The month abbreviation is Dec.

In [44]:
month2()

Enter a month number (1-12): 8
The month abbreviation is Aug.

In [45]:
months = ["January", "February", "March", "April", 
          "May", "June", "July", "August", 
          "September", "October", "November", "December"]

In [46]:
myList = [34, 26, 15, 10]
myList[2]

15

In [47]:
myList[2] = 0
myList

[34, 26, 0, 10]

In [48]:
myString = "Hello World"
myString[2]

'l'

In [49]:
myString[2] = 'z'

TypeError: 'str' object does not support item assignment

## 5.4: String representation and message encoding

In [50]:
ord("a")

97

In [51]:
ord("A")

65

In [52]:
chr(97)

'a'

In [53]:
chr(90)

'Z'

In [56]:
# A program to convert a textual message into a sequence of 
# numbers, utilizing the underlying Unicode encoding
def text2numbers():
    print("This program converts a textual message into a sequence")
    print("of numbers representing the Unicode encoding of the message.")
    
    # Get the message to encode
    message = input("Please enter the message to encode: ")
    
    print("\nHere are the Unicode codes:")
    
    # Loop through the message and print out the Unicode values
    for ch in message:
        print(ord(ch), end=" ")
        
    print()  # blank line before prompt

In [57]:
text2numbers()

This program converts a textual message into a sequence
of numbers representing the Unicode encoding of the message.
Please enter the message to encode: What a Sourpuss!

Here are the Unicode codes:
87 104 97 116 32 97 32 83 111 117 114 112 117 115 115 33

## 5.5 String methods

In [58]:
myString = "Hello, string methods!"
myString.split()

['Hello,', 'string', 'methods!']

In [59]:
"32,24,25,57".split(",")

['32', '24', '25', '57']

In [61]:
coords = input("Enter the point coordinates x,y: ").split(",")

Enter the point coordinates x,y: 3.4, 6.25

In [62]:
coords

['3.4', ' 6.25']

In [63]:
coords[0]

'3.4'

In [64]:
coords[1]

' 6.25'

In [66]:
coords = input("Enter the point coordinates x,y: ").split(",")
x,y = float(coords[0]), float(coords[1])
print(x,y)

Enter the point coordinates x,y: 3.4, 6.25
3.4 6.25

In [67]:
"87 104 97 116 32 97 32 83 111 117 114 112 117 115 115 33".split()

['87',
 '104',
 '97',
 '116',
 '32',
 '97',
 '32',
 '83',
 '111',
 '117',
 '114',
 '112',
 '117',
 '115',
 '115',
 '33']

In [68]:
# A program to convert a sequence of Unicode numbers into a string of text
def numbers2text():
    print("This program converst a sequence of Unicode numbers into")
    print("the string of text that it represents.\n")
    
    # Get the message to encode
    inString = input("Please enter the Unicode-encoded message: ")
    
    # Loop through each substring and build Unicode message
    message = ""
    for numStr in inString.split():
        codeNum = int(numStr)            # convert digits to a number
        message = message + chr(codeNum) # concatenate character to message
        
    print("\nThe decoded message is:", message)

In [69]:
numbers2text()

This program converst a sequence of Unicode numbers into
the string of text that it represents.

Please enter the Unicode-encoded message: 87 104 97 116 32 97 32 83 111 117 114 112 117 115 115 33

The decoded message is: What a Sourpuss!

In [70]:
numbers2text()

This program converst a sequence of Unicode numbers into
the string of text that it represents.

Please enter the Unicode-encoded message: 83 116 114 105 110 103 115 32 97 114 101 32 70 117 110 33

The decoded message is: Strings are Fun!

In [71]:
s = "hello, I came here for an argument"
s.capitalize()

'Hello, i came here for an argument'

In [72]:
s.title()

'Hello, I Came Here For An Argument'

In [73]:
s.lower()

'hello, i came here for an argument'

In [74]:
s.upper()

'HELLO, I CAME HERE FOR AN ARGUMENT'

In [75]:
s.replace("I", "you")

'hello, you came here for an argument'

In [76]:
s.center(30)

'hello, I came here for an argument'

In [77]:
s.center(50)

'        hello, I came here for an argument        '

In [78]:
s.count("e")

5

In [80]:
s.find(",")

5

In [81]:
" ".join(["Number", "one,", "the", "Larch"])

'Number one, the Larch'

In [82]:
"spam".join(["Number", "one,", "the", "Larch"])

'Numberspamone,spamthespamLarch'

## 5.6: Lists have methods, too

In [83]:
squares = []
for x in range(1,101):
    squares.append(x*x)

In [84]:
squares

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [85]:
# A program to convert a sequence of Unicode numbers into
# a string of text. Efficient version using a list accumulator
def numbers2text2():
    print("This program converst a sequence of Unicode numbers into")
    print("the string of text that it represents.\n")
    
    # Get the message to encode
    inString = input("Please enter the Unicode-encoded message: ")
    
    # Loop through each substring and build Unicode message
    chars = []
    for numStr in inString.split():
        codeNum = int(numStr)
        chars.append(chr(codeNum))
        
    message = "".join(chars)
    print("\nThe decoded message is:", message)

In [86]:
numbers2text2()

This program converst a sequence of Unicode numbers into
the string of text that it represents.

Please enter the Unicode-encoded message: 83 116 114 105 110 103 115 32 97 114 101 32 70 117 110 33

The decoded message is: Strings are Fun!

## 5.8: Input/output as string manipulation

In [87]:
# Converts a date in form "mm/dd/yyyy" to "month day, year"
def dateconvert():
    # get the date
    dateStr = input("Enter a date(mm/dd/yyyy): ")
    
    # split into components
    monthStr, dayStr, yearStr = dateStr.split("/")
    
    # converts monthStr to the month name
    months = ["January", "February", "March", "April", 
          "May", "June", "July", "August", 
          "September", "October", "November", "December"]
    monthStr = months[int(monthStr)-1]
    
    # output result in month day, year format
    print("The converted date is:", monthStr, dayStr+",", yearStr)

In [88]:
dateconvert()

Enter a date(mm/dd/yyyy): 05/24/2020
The converted date is: May 24, 2020

In [89]:
str(500)

'500'

In [90]:
value = 3.14
str(value)

'3.14'

In [91]:
print("The value is", str(value) + ".")

The value is 3.14.

In [105]:
# A program to calculate the value of some change in dollars
def change():
    print("Change Counter")
    print()
    print("Please enter the count of each coin type.")
    quarters = int(input("Quarters: "))
    dimes    = int(input("Dimes: "))
    nickels  = int(input("Nickels: "))
    pennies  = int(input("Pennies: "))
    total = quarters * 0.25 + dimes * 0.10 + nickels * 0.05 + pennies * 0.01
    print()
    print("The total value of your change is ${0:0.2f}".format(total))

In [106]:
change()

Change Counter

Please enter the count of each coin type.
Quarters: 6
Dimes: 0
Nickels: 0
Pennies: 0

The total value of your change is $1.50

In [94]:
"Hello {0} {1}, you may have won ${2}".format("Mr.", "Smith", 10000)

'Hello Mr. Smith, you may have won $10000'

In [95]:
"This int, {0:5} was placed in a field of width 5".format(7)

'This int,     7 was placed in a field of width 5'

In [96]:
"This int, {0:10} was placed in a field of width 10".format(7)

'This int,          7 was placed in a field of width 10'

In [97]:
"Ths float, {0:10.5}, has width 10 and precision 5".format(3.1415926)

'Ths float,     3.1416, has width 10 and precision 5'

In [98]:
"This float, {0:10.5f}, is fixed at 5 decimal places".format(3.1415926)

'This float,    3.14159, is fixed at 5 decimal places'

In [99]:
"This float, {0:0.5}, has width 0 and precision 5".format(3.1415926)

'This float, 3.1416, has width 0 and precision 5'

In [100]:
"Compare {0} and {0:0.20}".format(3.14)

'Compare 3.14 and 3.1400000000000001243'

In [101]:
"left justification: {0:<5}".format("Hi!")

'left justification: Hi!  '

In [102]:
"right justification: {0:>5}".format("Hi!")

'right justification:   Hi!'

In [103]:
"centered: {0:^5}".format("Hi!")

'centered:  Hi! '

In [107]:
# A program to calculate the value of some change in dollars
# This version represents the total cash in cents
def change2():
    print("Change counter\n")
    print("Please enter the count of each coin type.")
    quarters = int(input("Quarters: "))
    dimes    = int(input("Dimes: "))
    nickels  = int(input("Nickels: "))
    pennies  = int(input("Pennies: "))

    total = quarters * 25 + dimes * 10 + nickels * 5 + pennies
    print("The total value of your change is ${0}.{1:0>2}"
          .format(total//100, total%100))

In [108]:
change2()

Change counter

Please enter the count of each coin type.
Quarters: 6
Dimes: 4
Nickels: 5
Pennies: 3
The total value of your change is $2.18

In [109]:
change2()

Change counter

Please enter the count of each coin type.
Quarters: 6
Dimes: 3
Nickels: 5
Pennies: 3
The total value of your change is $2.08

In [110]:
"${0}.{1:0>2}".format(1, 2)

'$1.02'

In [111]:
"${0}.{1:0<2}".format(1, 2)  # yikes!

'$1.20'

In [112]:
"${0}.{1:02}".format(1, 2)

'$1.02'

## 5.9: File processing

In [113]:
print("Hello\nWorld\n\nGoodbye 32\n")

Hello
World

Goodbye 32

In [114]:
"Hello\nWorld\n\nGoodbye 32\n"

'Hello\nWorld\n\nGoodbye 32\n'

In [115]:
# Prints a file to the screen
def printfile():
    fname = input("Enter filename: ")
    infile = open(fname, "r")
    data = infile.read()
    print(data)

In [117]:
# Program to create a file of usernames in batch mode
def userfile():
    print("This program creates a file of usernames from a")
    print("file of names.")
    
    # get the file names
    infileName = input("What file are the names in? ")
    outfileName = input("What file should the usernames go in? ")
    
    # open the files
    infile = open(infileName, "r")
    outfile = open(outfileName, "w")
    
    # process each line of the input file
    for line in infile:
        # get the first and last names from line
        first, last = line.split()
        # create the username
        uname = (first[0]+last[:7]).lower()
        #write it to the output file
        print(uname, file=outfile)
        
    # close both files
    infile.close()
    outfile.close()
    
    print("Usernames have been written to", outfileName)

In [118]:
%%writefile chapter05_names.txt
Michael Mandel
John Smith
Zaphod Beeblebrox

Writing chapter05_names.txt

In [119]:
userfile()

This program creates a file of usernames from a
file of names.
What file are the names in? chapter05_names.txt
What file should the usernames go in? chapter05_users.txt
Usernames have been written to chapter05_users.txt

In [ ]:
# %load chapter05_users.txt
mmandel
jsmith
zbeebleb

In [122]:
printfile()

Enter filename: chapter05_users.txt
mmandel
jsmith
zbeebleb

In [124]:
from tkinter.filedialog import askopenfilename
infileName = askopenfilename()

In [125]:
infileName

'/home/mim/work/teaching/ling78100_past/2017fa/private/code/lectureExamples/chapter05_names.txt'