# Finishing Lecture 2, in-class notebook

In [1]:
import math
math.sqrt(4)

2.0

In [2]:
math.sqrt(7)

2.6457513110645907

In [3]:
from math import sqrt

In [4]:
sqrt(7)

2.6457513110645907

In [5]:
import math as m

In [6]:
m.sqrt(7)

2.6457513110645907

In [11]:
# A program that computes the real roots of a quadratic equation.
# Illustrates use of the math library.
# Note: This program crashes if the equation has no real roots.

import math  # Makes the math library available.

def quadratic():
    print("This program finds the real solutions to a quadratic")
    print()
    a, b, c = eval(input("Please enter the coefficients (a, b, c): "))
    # discRoot = math.sqrt(b * b - 4 * a * c)
    discRoot = (b * b - 4 * a * c) ** 0.5
    root1 = (-b + discRoot) / (2 * a)
    root2 = (-b - discRoot) / (2 * a)
    print()
    print("The solutions are:", root1, root2 )

In [12]:
quadratic()

This program finds the real solutions to a quadratic

Please enter the coefficients (a, b, c): 2, 3, 1

The solutions are: -0.5 -1.0

In [10]:
quadratic()

This program finds the real solutions to a quadratic

Please enter the coefficients (a, b, c): 1,2,3

ValueError: math domain error

In [13]:
math.pi

3.141592653589793

In [14]:
math.e

2.718281828459045

In [15]:
math.ceil(-3.5)

-3

In [16]:
math.ceil(-3.99)

-3

In [17]:
math.ceil(3.99)

4

In [26]:
fact = 1
for factor in [6, 5, 4, 3, 2, 1]:
    fact = fact * factor
fact

720

In [27]:
for factor in [6, 5, 4, 3, 2, 1]:
    fact = fact * factor
fact

518400

In [24]:
fact = 1
for factor in [6, 4, 4, 4, 3, 2]:
    fact = fact * factor
fact

2304

In [21]:
math.sqrt(518400)

720.0

In [31]:
fact = 1
for factor in range(2, 6+1):
    fact = fact * factor
fact

720

In [32]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [38]:
list(range(6, 12))

[6, 7, 8, 9, 10, 11]

In [37]:
list(range(6, 12, 2))

[6, 8, 10]

In [39]:
list(range(6, 1, -1))

[6, 5, 4, 3, 2]

In [40]:
list(range(1, 6))

[1, 2, 3, 4, 5]

In [42]:
list(range(2, 6, -1))

[]

In [43]:
list(range(6, 2, -1))

[6, 5, 4, 3]

In [44]:
# Program to compute the factorial of a number
# Illustrates for loop with an accumulator

def factorial():
    n = int(input("Please enter a whole number: "))
    fact = 1
    for factor in range(n,1,-1):
        fact = fact * factor
    print("The factorial of", n, "is", fact)
factorial()

Please enter a whole number: 6
The factorial of 6 is 720

In [45]:
factorial()

Please enter a whole number: 100
The factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

# Lecture 3, in-class notebook

In [49]:
# You don't need to know this yet...
[n*n for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
squares = []
for n in range(10):
    squares.append(n*n)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
firstName = input("Please enter your first name: ")
print("Hello", firstName)

Please enter your first name: Michael
Hello Michael

In [51]:
greet = "Hello Bob"
greet[0]

'H'

In [52]:
print(greet[0], greet[2], greet[4])

H l o

In [53]:
x = 8
greet[x - 2]

'B'

In [54]:
greet[-1]

'b'

In [55]:
greet[-3]

'B'

In [56]:
greet[6:8]

'Bo'

In [57]:
greet[6:9]

'Bob'

In [58]:
greet[0:3]

'Hel'

In [59]:
greet[:3]

'Hel'

In [60]:
greet[6:9]

'Bob'

In [61]:
greet[6:]

'Bob'

In [62]:
greet[6:-1]

'Bo'

In [63]:
greet[:]

'Hello Bob'

In [64]:
"spam" + "eggs"

'spameggs'

In [65]:
3 * "spam"

'spamspamspam'

In [66]:
(3 * "spam") + ("eggs" * 5)

'spamspamspameggseggseggseggseggs'

In [67]:
3.0 * "spam"

TypeError: can't multiply sequence by non-int of type 'float'

In [68]:
len("spam")

4

In [69]:
for ch in "Spam!":
    print (ch, end=" ")

S p a m !

In [70]:
months = "JanFebMarAprMayJunJulAugSepOctNovDec"

In [71]:
months[3:6]

'Feb'

In [72]:
months[6:9]

'Mar'

In [77]:
# A program to print the abbreviation of a month, given its number
def month():
    # months is used as a lookup table
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"
    
    n = int(input("Enter a month number (1-12): "))
    
    # compute starting position of month n in months
    pos = (n-1) * 3
    
    # Grab the appropriate slice from months
    monthAbbrev = months[pos:pos+3]
    
    # print the result
    print ("The month abbreviation is", monthAbbrev + ".")

In [74]:
month()

Enter a month number (1-12): 1
The month abbreviation is Jan.

In [75]:
month()

Enter a month number (1-12): 4
The month abbreviation is Apr.

In [76]:
month()

Enter a month number (1-12): 12
The month abbreviation is Dec.

In [80]:
# A program to print the abbreviation of a month, given its number
def month2():
    # months is used as a lookup table
    months = ["Jan","Feb","Mar","Apr","May","Jun",
              "Jul","Aug","Sep","Oct","Nov","Dec"]
    
    n = int(input("Enter a month number (1-12): "))
    
    # compute starting position of month n in months
    pos = (n-1)
    
    # Grab the appropriate slice from months
    monthAbbrev = months[pos]
    
    # print the result
    print ("The month abbreviation is", monthAbbrev + ".")

In [81]:
month2()

Enter a month number (1-12): 1
The month abbreviation is Jan.

In [82]:
month2()

Enter a month number (1-12): 4
The month abbreviation is Apr.

In [83]:
month2()

Enter a month number (1-12): 12
The month abbreviation is Dec.

In [101]:
# A program to print the abbreviation of a month, given its number
def month3():
    # months is used as a lookup table
    months = ["January","February","March","April","May","June",
              "July","August","September","October","November","December"]
    
    n = int(input("Enter a month number (1-12): "))
    
    # print the result
    print ("The month abbreviation is", months[n-1] + ".")

In [102]:
month3()

Enter a month number (1-12): 12
The month abbreviation is December.

In [88]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [89]:
[1,2] * 3

[1, 2, 1, 2, 1, 2]

In [90]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[0]

'A'

In [93]:
grades[2:4]

['C', 'D']

In [94]:
len(grades)

5

In [95]:
myList = [1, "spam", [2, "eggs"]]

In [96]:
myList

[1, 'spam', [2, 'eggs']]

In [97]:
myList[2]

[2, 'eggs']

In [98]:
myList[2][0]

2

In [99]:
myList[0][0]

TypeError: 'int' object is not subscriptable

In [100]:
myList[1][0]

's'

In [103]:
myList = [34, 26, 15, 10]

In [104]:
myList[2]

15

In [105]:
myList[2] = 0

In [106]:
myList

[34, 26, 0, 10]

In [107]:
myString = 'spam'

In [108]:
myString[2]

'a'

In [109]:
myString[2] = 'c'

TypeError: 'str' object does not support item assignment

In [110]:
string = 'asdf'
string.replace('a', 'b')

'bsdf'

In [111]:
string

'asdf'

In [112]:
myList.sort()

In [113]:
myList

[0, 10, 26, 34]

In [115]:
myList2 = myList
myList2[2] = 7
print(myList)
print(myList2)

[0, 10, 7, 34]
[0, 10, 7, 34]

In [119]:
t = tuple(myList)
print(t)

(0, 10, 7, 34)

In [120]:
t[2] = 0

TypeError: 'tuple' object does not support item assignment

In [121]:
s = "hello, I came here for an argument"
s.capitalize()

'Hello, i came here for an argument'

In [122]:
s.title()

'Hello, I Came Here For An Argument'

In [123]:
s.center(50)

'        hello, I came here for an argument        '

In [124]:
s.count('a')

3

In [125]:
s.find('a')

10

In [126]:
s[:10+1]

'hello, I ca'

In [127]:
", ".join(['a', 'b', 'c'])

'a, b, c'

In [128]:
s.rjust(50)

'                hello, I came here for an argument'

In [129]:
s.rjust(50).lstrip()

'hello, I came here for an argument'

In [130]:
s.rjust(50).rstrip()

'                hello, I came here for an argument'

In [131]:
s.rjust(50).strip()

'hello, I came here for an argument'

In [133]:
s.center(50).strip()

'hello, I came here for an argument'

In [134]:
s.replace("I", "you")

'hello, you came here for an argument'

In [135]:
s.replace("a", "b")

'hello, I cbme here for bn brgument'

In [136]:
s.split(" ")

['hello,', 'I', 'came', 'here', 'for', 'an', 'argument']

In [137]:
s.split()

['hello,', 'I', 'came', 'here', 'for', 'an', 'argument']

In [138]:
s.split(",")

['hello', ' I came here for an argument']

In [139]:
s.split("z")

['hello, I came here for an argument']

In [140]:
squares = []
for n in range(5):
    squares.append(n*n)
squares

[0, 1, 4, 9, 16]

In [141]:
dateStr = input("Enter a date (mm/dd/yyyy): ")
monthStr, dayStr, yearStr = dateStr.split("/")

Enter a date (mm/dd/yyyy): 05/24/2020

In [142]:
print(monthStr, dayStr, yearStr)

05 24 2020

In [144]:
monthNum = int(monthStr)
monthNum

5

In [145]:
months = ["January","February","March","April","May","June",
          "July","August","September","October","November","December"]

In [147]:
monthStr = months[int(monthStr) - 1]

In [148]:
monthStr

'May'

In [149]:
print ("The converted date is:", monthStr, dayStr+",", yearStr)

The converted date is: May 24, 2020

In [150]:
24 + ","

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [151]:
str(24) + ","

'24,'

In [152]:
int("24")

24

In [153]:
str(3.14)

'3.14'

In [154]:
print("The total value of your change is ${0:0.2f}".format(1.5))

The total value of your change is $1.50

In [156]:
print("The total value of your change is", 1.5)

The total value of your change is 1.5

In [157]:
"Hello {0} {1}, you may have won ${2}" .format("Mr.", "Smith", 10000)

'Hello Mr. Smith, you may have won $10000'

In [158]:
firstName = "Mr."
lastName = "Smith"
"Hello {0} {1}, you may have won ${2}" .format(firstName, lastName, 10000)

'Hello Mr. Smith, you may have won $10000'

In [159]:
"Hello {0} {1}. {0} {1}, you may have won ${2}" .format("Mr.", "Smith", 10000)

'Hello Mr. Smith. Mr. Smith, you may have won $10000'

In [160]:
'This int, {0:5}, was placed in a field of width 5'.format(7)

'This int,     7, was placed in a field of width 5'

In [161]:
'This int, {0:5}, was placed in a field of width 5'.format(777)

'This int,   777, was placed in a field of width 5'

In [162]:
'This int, {0:10}, was placed in a field of width 10'.format(7)

'This int,          7, was placed in a field of width 10'

In [163]:
'This float, {0:10.5}, has width 10 and precision 5.'.format(3.1415926)

'This float,     3.1416, has width 10 and precision 5.'

In [164]:
'This float, {0:10.5f}, has width 10 and precision 5.'.format(3.1415926)

'This float,    3.14159, has width 10 and precision 5.'

In [165]:
"Compare {0} and {0:0.20}".format(3.14)

'Compare 3.14 and 3.1400000000000001243'

In [166]:
"left justification: {0:<5}.format("Hi!")

SyntaxError: invalid syntax (<ipython-input-166-a467fbc6b752>, line 1)

In [173]:
"left justification: {0:<5}".format("Hi!")

'left justification: Hi!  '

In [174]:
"right justification: {0:>5}".format("Hi!")

'right justification:   Hi!'

In [175]:
"left justification: {0:<5}".format(7)

'left justification: 7    '

In [176]:
"right justification: {0:>5}".format(7)

'right justification:     7'

In [177]:
"default string justification: {0:5}".format("Hi!")

'default string justification: Hi!  '

In [178]:
"default number justification: {0:5}".format(7)

'default number justification:     7'