# Lecture 9, in-class notebook

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
"This is an ex-parrot!".split()

['This', 'is', 'an', 'ex-parrot!']

In [3]:
lst = [1,2,3,4]
3 in lst

True

In [4]:
5 in lst

False

In [5]:
ans = 'Y'
ans in 'Yy'

True

In [6]:
lst = [1,2,3,4]
lst[3]

4

In [7]:
lst[3] = "Hello"
lst

[1, 2, 3, 'Hello']

In [8]:
lst[1:3] = ["Slice", "Assignment"]
lst

[1, 'Slice', 'Assignment', 'Hello']

In [9]:
lst[1:4] = ["Slice", "Assignment"]
lst

[1, 'Slice', 'Assignment']

In [10]:
lst = [1,2,3,4]
lst[1:3] = ["Slice"]
lst

[1, 'Slice', 4]

In [11]:
lst = [1,2,3,4]
lst[1] = ["Slice"]
lst

[1, ['Slice'], 3, 4]

In [13]:
myList = [34, 26, 0, 10]
del myList[1:3]
myList

[34, 10]

In [14]:
lst = [5,4,3,2]
print(lst.sort())

None

In [15]:
lst

[2, 3, 4, 5]

In [16]:
sorted(lst)

[2, 3, 4, 5]

In [17]:
lst.pop()

5

In [18]:
lst

[2, 3, 4]

In [19]:
lst.append(6)
lst

[2, 3, 4, 6]

In [20]:
lst.pop()

6

In [21]:
def stats():
    printIntroduction()
    data = getNumbers()
    xbar = computeMean(data)
    med = computeMedian(data)
    std = computeStdDev(data, xbar)
    printResults(xbar, med, std)

In [25]:
lst = [1,2,3,4]
lst.append(5)
print(lst)

[1, 2, 3, 4, 5]

In [27]:
lst = [5,4,3,2]

lst.sort()
lst

[2, 3, 4, 5]

In [29]:
middle = len(lst) // 2

In [30]:
median = 0.5 * (lst[middle-1] + lst[middle])

In [31]:
median

3.5

In [32]:
lst = [5,4,3]
lst.sort()
lst

[3, 4, 5]

In [33]:
middle = len(lst) // 2

In [34]:
middle

1

In [35]:
median = lst[middle]

In [37]:
median

4

In [38]:
lst = [5,4,3,2,1]
lst.sort()
middle = len(lst) // 2
median = lst[middle]
median

3

In [39]:
passwd = {"guido":"superprogrammer", "turing":"genius", "bill":"monopoly"}

In [40]:
passwd

{'bill': 'monopoly', 'guido': 'superprogrammer', 'turing': 'genius'}

In [41]:
passwd["bill"]

'monopoly'

In [42]:
passwd["bill"] = "bluescreen"
passwd

{'bill': 'bluescreen', 'guido': 'superprogrammer', 'turing': 'genius'}

In [43]:
d = {'user':'bozo', 'pswd':1234}

In [44]:
d['user']

'bozo'

In [45]:
d['pswd']

1234

In [46]:
d['bozo']

KeyError: 'bozo'

In [47]:
d[1234] = 'asdf'

In [48]:
d

{'user': 'bozo', 1234: 'asdf', 'pswd': 1234}

In [49]:
d['user'] = 'clown'

In [50]:
d

{'user': 'clown', 1234: 'asdf', 'pswd': 1234}

In [51]:
d['id'] = 45

In [52]:
d

{'user': 'clown', 'id': 45, 1234: 'asdf', 'pswd': 1234}

In [53]:
del d[1234]

In [54]:
d

{'id': 45, 'pswd': 1234, 'user': 'clown'}

In [55]:
%%writefile chapter11_pwd.txt
bill bluescreen
guido superprogrammer
newuser ImANewbie
turing genius

Overwriting chapter11_pwd.txt

In [57]:
passwd = {}
for line in open("chapter11_pwd.txt"):
    user, pwd = line.split()
    passwd[user] = pwd
print(passwd)

{'newuser': 'ImANewbie', 'guido': 'superprogrammer', 'bill': 'bluescreen', 'turing': 'genius'}

In [59]:
list(passwd.keys())

['newuser', 'guido', 'bill', 'turing']

In [60]:
list(passwd.values())

['ImANewbie', 'superprogrammer', 'bluescreen', 'genius']

In [61]:
list(passwd.items())

[('newuser', 'ImANewbie'),
 ('guido', 'superprogrammer'),
 ('bill', 'bluescreen'),
 ('turing', 'genius')]

In [63]:
for key in passwd:
    print("Key:", key, "\tValue:", passwd[key])

Key: newuser 	Value: ImANewbie
Key: guido 	Value: superprogrammer
Key: bill 	Value: bluescreen
Key: turing 	Value: genius

In [64]:
for key, value in passwd.items():
    print("Key:", key, "\tValue:", value)

Key: newuser 	Value: ImANewbie
Key: guido 	Value: superprogrammer
Key: bill 	Value: bluescreen
Key: turing 	Value: genius

In [65]:
"bill" in passwd

True

In [66]:
"fred" in passwd

False

In [67]:
"genius" in passwd

False

In [68]:
passwd.get("fred", "unknown")

'unknown'

In [69]:
passwd.get("bill", "unknown")

'bluescreen'

In [70]:
passwd["fred"]

KeyError: 'fred'

In [71]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [72]:
tu

(23, 'abc', 4.56, (2, 3), 'def')

In [73]:
li = ["abc", 34, 4.34, 23]
li

['abc', 34, 4.34, 23]

In [74]:
tu[1]

'abc'

In [75]:
li[1]

34

In [76]:
li[1] = 7

In [77]:
tu[1] = 7

TypeError: 'tuple' object does not support item assignment

In [78]:
users = {("michael","mandel"): "mim"}

In [79]:
users

{('michael', 'mandel'): 'mim'}

In [80]:
users[("michael", "mandel")]

'mim'

In [81]:
users = {["michael","mandel"]: "mim"}

TypeError: unhashable type: 'list'

In [82]:
(x, y, (w, z)) = (2, 3, (4, 5))

In [83]:
x

2

In [84]:
y

3

In [85]:
w

4

In [86]:
z

5

In [87]:
x, y, (w, z) = 2, 3, (4, 5)

In [88]:
t = (23, 'abc', 4.56, (2,3), 'def')
t2 = t

In [89]:
t

(23, 'abc', 4.56, (2, 3), 'def')

In [90]:
t2

(23, 'abc', 4.56, (2, 3), 'def')

In [91]:
t = (1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

In [92]:
t2

(23, 'abc', 4.56, (2, 3), 'def')

In [93]:
t = [23, 'abc', 4.56, (2,3), 'def']
t2 = t
t

[23, 'abc', 4.56, (2, 3), 'def']

In [94]:
t2

[23, 'abc', 4.56, (2, 3), 'def']

In [95]:
t[:] = [1,2,3,4,5,6]

In [96]:
t

[1, 2, 3, 4, 5, 6]

In [97]:
t2

[1, 2, 3, 4, 5, 6]

In [98]:
t = (1,2,3)

In [99]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [100]:
sorted(t)

[1, 2, 3]

In [101]:
ws = "It was the best of times, it was the worst of times".split()

In [102]:
ws

['It',
 'was',
 'the',
 'best',
 'of',
 'times,',
 'it',
 'was',
 'the',
 'worst',
 'of',
 'times']

In [104]:
counts = {}
for w in ws:
    if w in counts:
        counts[w] += 1
    else:
        counts[w] = 1
print(counts)

{'it': 1, 'best': 1, 'was': 2, 'times': 1, 'It': 1, 'of': 2, 'the': 2, 'times,': 1, 'worst': 1}

In [105]:
counts = {}
for w in ws:
    counts[w] = counts.get(w, 0) + 1
print(counts)

{'it': 1, 'best': 1, 'was': 2, 'times': 1, 'It': 1, 'of': 2, 'the': 2, 'times,': 1, 'worst': 1}