In [1]:
print("Hello World")

Hello World

In [2]:
#we can print a matrix of numbers like this
for i in range(4):
    print("0","0","0","0")

0 0 0 0
0 0 0 0
0 0 0 0
0 0 0 0

In [4]:
#and we can print lists, or join the list items into a string variable
names=["john","adam","sarah","anne"]
print(names)
names_str=" ".join(names)
print(names_str)

['john', 'adam', 'sarah', 'anne']
john adam sarah anne

In [5]:
#and the other way around, we can split a string into a list
names_str="john adam sarah anne"
split=names_str.split()
print(split)

['john', 'adam', 'sarah', 'anne']

In [8]:
#and we can convert any numerical value to string using the built-in function str()
amount=10
amount_str="$"+str(10)
print(amount_str)

$10

In [10]:
#the idea is that we do our numberical operations on the numerical variables
#then eventually we convert them to strings to combine them with other strings
amount=amount+5
amount_str="$"+"10"
print(amount_str)
print(amount)

$10
20

In [14]:
#here we can see that a is a string variable and b is a numerical variable
a="10"
b=10

new_b=b+5
new_b_str="$"+str(new_b)
print(new_b_str)

$15

In [15]:
#we see here that we can convert from string into numerical (in this case integer) values 
#using the built-in function int(), then we can do any numerical opertaions on them
a="10"
a_num=int(a)
new_a=a_num+5
print (new_a)

15

In [19]:
#now we start formatting the display of strings - the built-in method .zfill() allows us to do some padding of zeros 
#to numbers
a="200"
a.zfill(10)

'0000000200'

In [23]:
#we can also do padding of empty spaces, to justify a string either left or right of center
a="ahk"
print(a.rjust(5))
print(a.ljust(5))
print(a.center(5))

  ahk
ahk
 ahk

In [24]:
Year     Start   Interest        End      Total
         Value     (year)      Value   Interest
    
print ("year".ljust(4))

SyntaxError: invalid syntax (<ipython-input-24-872a26f49cfe>, line 1)

In [37]:
#now we can use the right justify method .rjust() to specify the space allocated for each item in the header
print ("year".rjust(4),"Start".rjust(10),"Interest".rjust(10),"End".rjust(10),"Total".rjust(10)) 
print ("".rjust(4),"Value".rjust(10),"(year)".rjust(10),"Value".rjust(10),"Interest".rjust(10)) 
line="-"*48
print(line)

year      Start   Interest        End      Total
          Value     (year)      Value   Interest
------------------------------------------------

In [36]:
#we show that we can multiply a string by a number to repeat the string this many times
"="*5

'====='

In [51]:
#this is some explanation of how to do the headers for the homework problem
header_line1="year".rjust(4)+"Start".rjust(10)+"Interest".rjust(10)+"End".rjust(10)+"Total".rjust(10)
header_line2="".rjust(4)+"Value".rjust(10)+"(year)".rjust(10)+"Value".rjust(10)+"Interest".rjust(10) 
dashes="-"*len(header_line1)
print (header_line1)
print (header_line2)
print (dashes)

#now we start to populate the data within the table
current_amount=0
amount_saved_per_year=100
interest_rate=10 #10%
actual_interest_rate=interest_rate/100
num_years=20
for i in range(num_years):
    cur_year=i+1
    current_amount=current_amount+amount_saved_per_year
    starting_amount=current_amount
    current_interest=starting_amount*actual_interest_rate
    end_amount=current_amount+current_interest

    row=str(cur_year).rjust(4)+str(starting_amount).rjust(10)+str(current_interest).rjust(10)+str(end_amount).rjust(10)+str(i).rjust(10) 
    print(row)

year     Start  Interest       End     Total
         Value    (year)     Value  Interest
--------------------------------------------
   1       100      10.0     110.0         0
   2       200      20.0     220.0         1
   3       300      30.0     330.0         2
   4       400      40.0     440.0         3
   5       500      50.0     550.0         4
   6       600      60.0     660.0         5
   7       700      70.0     770.0         6
   8       800      80.0     880.0         7
   9       900      90.0     990.0         8
  10      1000     100.0    1100.0         9
  11      1100     110.0    1210.0        10
  12      1200     120.0    1320.0        11
  13      1300     130.0    1430.0        12
  14      1400     140.0    1540.0        13
  15      1500     150.0    1650.0        14
  16      1600     160.0    1760.0        15
  17      1700     170.0    1870.0        16
  18      1800     180.0    1980.0        17
  19      1900     190.0    2090.0        18
  20      2000     200.0    2200.0        19

In [52]:
#this is how we round float numbers to integers
round(15.3243423432)

15

In [54]:
#or we can specify the number of decimal points
round(15.3243423432,2)

15.32